@font-face {
    font-family: "Outfit", sans-serif;
    font-display: fallback;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Outfit/Outfit.ttf") format("truetype");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: pink;
}
